.contact {
  padding: 100px 0 20px 0;
  background: rgb(24, 22, 70);
  &__title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    color: white;
    &::after {
      content: "";
      height: 2px;
      width: 10%;
      display: inline;
      background: #d2318e;
    }
  }
  &__end {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a {
      font-size: 18px;
      color: #32cd32;
      img {
        width: 30px;
        height: auto;
      }
    }
  }
  .item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    &__images {
      margin-bottom: 10px;
      a {
        font-weight: 600;
        font-size: 18px;
        color: rgb(24, 22, 70);
      }
      img {
        max-width: 100px;
        height: 100px;
      }
    }
  }
}
