.main {
  height: 100vh;
  display: flex;
  background: white;
  @media (max-width: 991px) {
    height: 600px;
    overflow: hidden;
  }
  &__header {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__img {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  &__title {
    font-weight: 400;
    font-size: 65px;
    @media (max-width: 991px) {
      font-size: 45px;
    }
    @media (max-width: 767px) {
      font-size: 35px;
    }
    @media (max-width: 575px) {
      font-size: 28px;
    }
    .far {
      color: #ffd45c;
    }
  }
}
