.navbar {
  background: #4b7890;
  transition: all 500ms;
  &.active {
    background: #d2318e;
  }
  &.activeBG {
    background: #2b3467;
  }
  .navbar-brand {
    display: block;
    border-radius: 50%;
    background: white;
  }
  #navbarSupportedContent {
    justify-content: center;
  }
  .logo {
    width: 50px;
  }
  .navbar-nav {
    display: flex;
    li {
      margin: 0 20px;
      a {
        color: white;
        display: block;
        background: #2b346784;
        border-radius: 6px;
        &.active_link {
          color: white;
          background: #2b3467;
        }
        &:hover {
          color: #ffffff;
          background: #2b3467;
        }
      }
    }
  }
}
